/* || General setup */



html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    background-color: #A5B3B8;
}

body {
    width: 70%;
    min-width: 960px;
    margin: 0 auto;
}

  /* || typography */



h1 {
    font-size: 6rem;
    text-align: center;
    color: #7B8D93;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: 2px 2px 10px black;
}

h2 {
    font-size: 2rem;
    text-align: center;
    width: fit-content;
}
h3 {
    font-size: 1.5rem;
    text-align: center;
}


  /* || header layout */

main, header, nav, article, aside, footer, section {
    background-color: #7B8D93;
    padding: 1%;
    margin-top: 5px;
}

header {
    display: flex;
    flex-flow: row wrap;
}

header img {
    
    padding: 1rem;
    padding-left: 8rem;
    display: block;
    margin: auto;
    height: 10rem;
}

h1 {
    flex: 10;
    text-transform: uppercase;
}


/* || nav layout */

nav {
    padding-left: 25%;
    padding-right: 25%;
    height: 50px;
    flex: 100%;
    display: flex;
}

nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
}
  
nav li {
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
    text-align: center;
    flex: 1;
}
  
nav a {
    display: inline-block;
    font-size: 2rem;
    height: 3rem;
    line-height: 1.7;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: #A5B3B8;
    text-shadow: 0 0 10px black;
}

/* || article layout */

.container-1 {
    display: flex;
    padding-left: 20px;
}

.container-1 * {
    margin: 1px;
    padding: 5px;
}



.ddMenu {
    height: fit-content;
    width: 180px;
    background-color: #A5B3B8;
}

.iAmount {
    background-color: #A5B3B8;
    
}
.iAmount option {
    border: 1px solid #A5B3B8;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.bConvert {
    background-color: #A5B3B8;
    padding: 2% 5%;
    margin: auto;
    height: fit-content;
    font-size: 20px;
    font-style: italic;
}

.dErrorMsg p{
    margin: 0 3%;
    color: rgb(184, 60, 60);
    font-size: 12px;
}

.dNote h4 {
    margin: 0 3%;
    color: #A5B3B8;
    font-size: 20px;
    text-shadow: 0px 0px 20px black;
}

.dConvertResultFrom{
    text-align: center;
    margin: 1% 0;
}

.sConvertResultFromAmount {
    font-size: 45px;
}

.sConvertResultFromCurrency, .sConvertResultToCurrency {
    font-size: 35px;
    margin-left: 2%;
}

.dConvertResultTo {
    text-align: center;
    margin: 1% 0;
}

.sConvertResultToAmount {
    font-size: 70px;
}
.dSideResult{
    margin: 2px;
    flex: 1;
    font-size: 18px;
    height: fit-content;
    align-self: center;
    text-align: center;
}

.dSideResult p{
    margin: 1rem;
}

.dWordResult{
    font-size: 12px;
    text-align: right;
    margin: 2px;
    flex: 1.2;
    align-self: flex-end;
}
.dConvertResult {
    margin: 5px;
    flex: 1.8;
}

.dResult {
    display: flex;
    flex-direction: row;
}

.dPostResult {
    text-align: center;
}

.results {
    display: flex;
}

.resultsSide {
    flex: 1;
}

.resultsSide p{
    
    font-size: 30px;
    margin: 1%;
    text-align: center;
}

